{%extends 'base.html' %}
{%block content%}
        <h3>Todos los contactos</h3>
            <a class="glyphicon glyphicon-plus" aria-hidden="true" href="{% url 'contactos:entrar'%}"> Nuevo Contacto</a>
            {% if contactos %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Telefono</th>
                            <th>Fecha de nacimiento</th>
                            <th>Numero de pie</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contacto in contactos %}
                        <tr>
                            <td> {{ contacto.nombre }}</td>
                            <td>{{ contacto.telefono}}</td>
                            <td>{{ contacto.fechanacimiento }}</td>
                            <td>{{ contacto.numerodepie }}</td>
                            <td><a href="{% url 'contactos:editar' contacto.id %}">Editar</a>  <a href="{% url 'contactos:eliminar' contacto.id %}">Eliminar</a> </td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No ha hi contactos</p>
            {% endif %}
            <a href="{% url 'contactos:entrar'%}">Nuevo Contacto</a>
{%endblock%}